<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @user.time_zone %>
</p>
<hr/>
Filter: <%= link_to 'All', user_path(@user, view: :all) %> | <%= link_to 'Today', user_path(@user, view: :today) %>
<p>
  <strong>Task Schedules</strong>
<table>
  <thead>
  <th>
    Name
  </th>
  <th>
    Due Date
  </th>
  <th>
    &nbsp;
  </th>
  </thead>
  <tbody>
  <%= render partial:    'task_schedules/task_schedule',
             collection: @task_schedules,
             locals:     {time_zone: @user.time_zone} %>
  </tbody>
</table>
</p>

<p>
  <strong>Tasks</strong>
<table>
  <thead>
  <th>
    Name
  </th>
  <th>
    Complete
  </th>
  <th>
    Due Date
  </th>
  </thead>
  <tbody>
  <%= render partial:    'tasks/task',
             collection: @tasks,
             locals:     {time_zone: @user.time_zone} %>
  </tbody>
</table>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
